.App {
  text-align: center;
}

.border--medium {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  list-style: none;
}
